body{
  background-color:#00D1B2;
}
.btn-group{
  width:100%;
  margin-left:40%;
}
.controlDuration {
  float:left;
  margin-left:10px;
  text-align:center;
  padding:20px;
}

.displayTime{
  display:inline;
}

#pomoClock{
  font-size:8rem;
  text-align:center;
  float:left;
  width:100%;
  height:200px;
  line-height:200px;
  color:#fff;
}
