
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,300italic,800');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,800,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,800,900');

body{
  background-color:#00D1B2;
  font-family:'Roboto', sans-serif;
}

.container{
  max-width:500px;
  /*border:black solid 3px;*/
}

.center-wrap {
  text-align:center;
  margin:0 auto;
  margin-top:30px;

}

.displayTime{
  display:inline;
  padding: 0 10px;
  font-size:1.2em;
}

#tagName {
  font-size:3rem;
  font-weight:400;
  font-family:'Raleway', sans-serif;
  color:#fff;
  text-align:center;
  margin-top: 30px;
}

#pomoClock{
  font-size:7rem;
  font-weight:400;
  text-align:center;
  width:300px;
  height:300px;
  line-height:300px;
  color:#fff;
  border:#fff 3px solid;
  border-radius:50%;
  margin: 20px auto;
  cursor:pointer;
}

.btn-group {
  display:block;
  margin:0 auto;
  width:100%;
  background-color:#444;
  border:none 0px;
}

#todoList {
  margin:50px auto 50px;
  text-align:center;
}

#todoList input[type=text]{
  border:0px none;
  border-radius:5px;
  height:34px;
  width:200px;
  padding-left:10px;
}

#todoList button{
  background-color:#5ea89f;
  color:white;
  margin-left:5px;
  border:0px none;
  height:34px;
}

#sumMsg {
  margin-top:20px;
  color:#fff;
  font-size:1.2em;
}
