
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,300italic,800');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,800,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,800,900');

body{
  background-color:#00D1B2;
  font-family:'Roboto', sans-serif;
}

.container{
  width:500px;
  margin:0 auto;
}

.btn-group{
  width:100%;
  float:left;
}
.controlDuration {
  float:left;
  margin-left:10px;
  text-align:center;
  padding:20px;
}

.displayTime{
  display:inline;
}

#tagName {
  font-size:3rem;
  color:#fff;
  text-align:center;
}

#pomoClock{
  font-size:8rem;
  font-weight:400;
  text-align:center;
  float:left;
  width:350px;
  height:350px;
  line-height:350px;
  color:#fff;
  border:#fff 3px solid;
  border-radius:50%;
  margin-top:50px;
  cursor:pointer;
}
