$dark-grey: #444;
$theme-green: #00D1B2;
$dark-green: #60A89F;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,300italic,800');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,800,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,800,900');

@mixin flex-center($max-width, $justify-option) {
  max-width: $max-width;
  margin: 0 auto;
  display: flex;
  justify-content: $justify-option;
}

body{
  background-color: $theme-green;
  font-family:'Roboto', sans-serif;
}

.btn {
  padding: 0.8rem 2.4rem;
  border: 1px solid $dark-grey;
  border-radius: 4px;
  background-color: $dark-grey;
  color: white;
  font-size: 1rem;

  &--large {
    padding: 0.8rem 3rem;
  }

  &--green {
    background-color: $dark-green;
    border-color: $dark-green;
  }
}

.counter {
  @include flex-center(600px, space-around);
  margin-top: 1rem;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.active-task {
  font-size:3rem;
  font-weight:400;
  font-family:'Raleway', sans-serif;
  color: white;
  text-align: center;
  margin-top: 30px;
}

.timer{
  font-size:6rem;
  font-weight:400;
  text-align:center;
  width:280px;
  height:280px;
  line-height:280px;
  color: white;
  border: white 3px solid;
  border-radius: 50%;
  margin: 20px auto;
  cursor:pointer;
}

.timer-control {
  @include flex-center(400px, space-around);
}

.todo {
  @include flex-center(480px, center);
  margin-top: 2rem;

  &__input {
    border:0px none;
    outline: none;
    border-radius:5px;
    min-width: 200px;
    font-size: 1rem;
    padding: 0.8rem;
    flex: 2;
    margin-right: 0.6rem;
  }
}


#sumMsg {
  margin-top:20px;
  color:#fff;
  font-size:1.2em;
  text-align: center;
}
